resource_group_name           = "rg-airline-example"
location                      = "eastus2"
sql_server_name_prefix         = "sql-airline"
sql_admin_login               = "sqladmin"
sql_admin_password            = "UseAStr0ng!Passw0rd"
azuread_admin_login           = "your.name@domain.com"
azuread_admin_object_id       = "00000000-0000-0000-0000-000000000000"
client_ip_address             = "203.0.113.10"
database_name                 = "airline-dev"
database_sku_name             = "GP_S_Gen5_1"
max_size_gb                   = 1
min_capacity                  = 0.5
auto_pause_delay_in_minutes   = 60
public_network_access_enabled = true
zone_redundant                = false
