data_factory_id = "/subscriptions/<sub>/resourceGroups/<rg>/providers/Microsoft.DataFactory/factories/<factory>"
dataflow_name = "df-airline-gold-sales-example"
pipeline_name_prefix = "pl-airline-gold-dataflow"
compute_type = "General"
core_count = 8
trace_level = "Fine"
