data_factory_id = "/subscriptions/<sub>/resourceGroups/<rg>/providers/Microsoft.DataFactory/factories/<factory>"
http_linked_service_name_prefix = "ls-http-airline"
http_base_url = "https://raw.githubusercontent.com"
http_authentication_type = "Anonymous"
http_enable_certificate_validation = true

adls_linked_service_name_prefix = "ls-adls-airline"
storage_dfs_endpoint = "https://stairline<random>.dfs.core.windows.net"
storage_account_key = "<set-me>"

sql_linked_service_name_prefix = "ls-sql-airline"
sql_server_fqdn = "sql-airline<random>.database.windows.net"
sql_database_name = "airline-dev"
sql_username = "sqladmin"
sql_password = "<set-me>"

description = "Linked services for HTTP source, SQL, and ADLS Gen2 sink"
