data_factory_id           = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg-airline-example/providers/Microsoft.DataFactory/factories/adf-airline-example"
http_linked_service_name  = "ls-http-airline-example"
adls_linked_service_name  = "ls-adls-airline-example"
pipeline_name_prefix      = "pl-airline-airport-json"
http_dataset_name_prefix  = "ds_http_airport_json"
sink_dataset_name_prefix  = "ds_adls_bronze_airport_json"
sink_file_system          = "bronze"
sink_folder               = "airport"
sink_file                 = "airport.json"
airport_url               = "https://raw.githubusercontent.com/Ch3rry-Pi3-Data-Engineering/DataEng-Azure-Airline/refs/heads/main/data/DimAirport.json"
airport_rel_url           = "Ch3rry-Pi3-Data-Engineering/DataEng-Azure-Airline/refs/heads/main/data/DimAirport.json"
